<div class="top-wrapper">
  <div class="container">
    <h1>ゲーム仲間を<br>見つけよう！</h1>
    <p>GaMatchを利用して、一緒にゲームする仲間を探すことができます。</p>
    <p>オンライン/オフライン問わず時間の合う時にゲームを誘うことができます。今すぐユーザー検索してメッセージを送ってみましょう！</p>
    <div class="btn-wrapper">
      <a href="/users" class="btn index">
        <i class="fa fa-search"></i>
        ユーザー検索はこちら
      </a>
      <a href="/users/sign_up" class="btn user">
        <i class="fa fa-plus-square"></i>
        新規登録はこちら
      </a>
    </div>
  </div>
</div>

<div class="genre-wrapper">
  <div class="container">
    <div class="heading">
      <h2>ゲームジャンルの一例</h2>
    </div>
    <div class="genre">

      <div class="game">
        <div class="game-icon1">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon2">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon3">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon4">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

    </div>
  </div>
</div>

<div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h2>2019年、ゲーム全体の継続プレイヤー人口は４，７３５万人。</h2>
      <h3>3人に1人がゲームをする時代、一緒にゲームする仲間を見つけませんか？</h3>
    </div>
    <span class="btn message"><a href="/users" class="btn index">さっそく検索する</a></span>
  </div>
</div>

<div class="faq">
  <div class="container">
    <h3 class="content-title">よくあるご質問</h3>
    <p class="content-title-sub">ここにないご質問はお問い合わせください。</p>

    <div class="faq__dropdown-container">
      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">1：登録に費用はかかりますか？</p>
        </dt>
        <dd class="faq__dropdown-content" style="display: none;">
          <p class="faq__text">本サービスは無料で提供しております。</p>
        </dd>
      </dl>

      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">2：PlayStationStoreやNintendoStoreと連携していますか？</p>
        </dt>
        <dd class="faq__dropdown-content" style="display: none;">
          <p class="faq__text">連携はしておりません。</p>
        </dd>
      </dl>

      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">3：しつこくメッセージを送ってくるユーザーをどうにかして欲しいです。</p>
        </dt>
        <dd class="faq__dropdown-content" style="display: none;">
          <p class="faq__text">運営側が悪質だと判断した場合はアカウント凍結等の対応をいたします。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>