<div class="top-wrapper">
  <div class="container">
    <h1>ゲーム仲間を<br>見つけよう！</h1>
    <p>GaMatchを利用して、一緒にゲームする仲間を探すことができます。</p>
    <p>オンライン/オフライン問わず時間の合う時にゲームを誘うことができます。今すぐユーザー検索してメッセージを送ってみましょう！</p>
    <div class="btn-wrapper">
      <a href="#" class="btn index">
        <i class="fa fa-search"></i>
        ユーザー検索はこちら
      </a>
      <a href="#" class="btn user">
        <i class="fa fa-plus-square"></i>
        新規登録はこちら
      </a>
    </div>
  </div>
</div>

<div class="genre-wrapper">
  <div class="container">
    <div class="heading">
      <h2>ゲームジャンルの一例</h2>
    </div>
    <div class="genre">

      <div class="game">
        <div class="game-icon">
          <img src="MHW.jpg">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon">
          <img src="4733.jpg">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon">
          <img src="1_3qfvh3oerw01p4o77f0t4.jpg">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

      <div class="game">
        <div class="game-icon">
          <img src="top.jpg">
          <p></p>
        </div>
        <p class="txt-contents"></p>
      </div>

    </div>
  </div>
</div>