<div class="top-wrapper">
  <div class="container">
    <h1>ゲーム仲間を<br>見つけよう！</h1>
    <p>GaMatchを利用して、一緒にゲームする仲間を探すことができます。</p>
    <p>オンライン/オフライン問わず時間の合う時にゲームを誘うことができます。今すぐユーザー検索してメッセージを送ってみましょう！</p>
    <div class="btn-wrapper">
      <a href="/users" class="btn index">
        <i class="fa fa-search"></i>
        ユーザー検索はこちら
      </a>
      <a href="/users/sign_up" class="btn user">
        <i class="fa fa-plus-square"></i>
        新規登録はこちら
      </a>
    </div>
  </div>
</div>

<div class="genre-wrapper">
  <div class="container">
    <div class="heading">
      <h2>ゲームジャンルの一例</h2>
    </div>
    <div class="genre">

      <ul class="game">
        <li class="game-img1">
          <a href="http://www.capcom.co.jp/monsterhunter/world/" target="_blank">
            <%= image_tag asset_path("MHW.jpg", alt: "ゲーム画像1") %>
          </a>
        </li>
        <li class="game-img2">
          <a href="https://www.callofduty.com/ja/" target="_blank">
            <img src="assets/4733.jpg" alt="ゲーム画像2">
          </a>
        </li>
        <li class="game-img3">
          <a href="https://playoverwatch.com/ja-jp/" target="_blank">
            <img src="assets/Overwatch.jpg" alt="ゲーム画像3">
          </a>
        </li>
        <li class="game-img4">
          <a href="https://www.jp.playstation.com/games/dead-by-daylight-ps4/" target="_blank">
            <img src="assets/dwdw8d48a.jpg" alt="ゲーム画像4">
          </a>
        </li>
        <li class="game-img5">
          <a href="https://www.epicgames.com/fortnite/ja/home" target="_blank">
            <img src="assets/fortnite.jpg" alt="ゲーム画像5">
          </a>
        </li>
        <li class="game-img6">
          <a href="https://www.minecraft.net/ja-jp/" target="_blank">
            <img src="assets/9429ffbc-s.jpg" alt="ゲーム画像6">
          </a>
        </li>
        <li class="game-img7">
          <a href="https://www.ea.com/ja-jp/games/apex-legends" target="_blank">
            <img src="assets/Apex-Legends.jpg" alt="ゲーム画像7">
          </a>
        </li>
        <li class="game-img8">
          <a href="http://pubg.dmm.com/" target="_blank">
            <img src="assets/pubg01-1024x714.jpg" alt="ゲーム画像8">
          </a>
        </li>
        <li class="game-img9">
          <a href="https://www.smashbros.com/ja_JP/" target="_blank">
            <img src="assets/hero_title_pc.png" alt="ゲーム画像9">
          </a>
        </li>
        <li class="game-img10">
          <a href="https://www.nintendo.co.jp/switch/aab6a/index.html" target="_blank">
            <img src="assets/img01.jpg" alt="ゲーム画像10">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="faq">
  <div class="container">
    <h3 class="content-title">よくあるご質問</h3>
    <p class="content-title-sub">ここにないご質問はお問い合わせください。</p>

    <div class="faq__dropdown-container">
      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">1：登録に費用はかかりますか？</p>
          <span>+</span>
        </dt>
        <dd class="answer" style="display: none;">
          <p>本サービスは無料で提供しております。</p>
        </dd>
      </dl>

      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">2：PlayStationStoreやNintendoStoreと連携していますか？</p>
          <span>+</span>
        </dt>
        <dd class="answer" style="display: none;">
          <p>連携はしておりません。</p>
        </dd>
      </dl>

      <dl class="faq__dropdown-menu">
        <dt class="faq__dropdown-arrow-down">
          <p class="faq__title">3：しつこくメッセージを送ってくるユーザーをどうにかして欲しいです。</p>
          <span>+</span>
        </dt>
        <dd class="answer" style="display: none;">
          <p>運営側が悪質だと判断した場合はアカウント凍結等の対応をいたします。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h2>2019年、ゲーム全体の継続プレイヤー人口は４，７３５万人。</h2>
      <h3>3人に1人がゲームをする時代、一緒にゲームする仲間を見つけませんか？</h3>
    </div>
    <span class="btn message"><a href="/users" class="btn index">さっそく検索する</a></span>
  </div>
</div>

<div class="contact">
  <div class="contact-container">
    <h3 class="contact-title">お問い合わせ</h3>
    <p>運営にお問い合わせしたいことがございましたら、お気軽にご利用ください。<br>
    翌営業日までにご返答させていただきます。</p>
    <div class="form-container">
      <form method="post">
        <div class="form-group">
          <dl>
            <dt>
              <label for="name">
                お名前
              </label>
            </dt>
            <dd>
              <input id="name" type="text" name="お名前" value required>
            </dd>
          </dl>
        </div>
        <div class="form-group">
          <dl>
            <dt>
              <label for="email">
                メールアドレス
              </label>
            </dt>
            <dd>
              <input id="email" type="email" name="メールアドレス" value required>
            </dd>
          </dl>
        </div>
        <div class="form-group textarea">
          <dl>
            <dt>
              <label for="content">
                お問い合わせ内容
              </label>
            </dt>
            <dd>
              <textarea id="content" name="お問い合わせ内容" required></textarea>
            </dd>
          </dl>
        </div>
        <div class="form-group submit">
          <input type="submit" value="送信する" class="form-btn">
        </div>
      </form>
    </div>
  </div>
</div>

<p class="top-btn">
ページトップへ
</p>