<div class="contents_row">
  <p class="all-users">ユーザー 一覧</p>
  <% @users.each do |user| %>
    <div class="user-info">
      <img src=<%= user.image %> class = "icon_image">
      <%= link_to user.nickname, about_user_path(user) %>
    </div>
  <% end %>
</div>