/* リセットCSS */

html{
  color:#000;
  background:#FFF;
}
/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }


/* リセットCSSここまで */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ヘッダー */

header {
  height: 60px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  .container {
    margin: 0 auto;
    padding: 0 15px;
    .header-left {
      float: left;
      width: 120px;
      line-height: 60px;
      font-size: 20px;
      a {
        color: white;
      }
    }
    .header-right {
      float: right;
      a {
        color: white;
        line-height: 60px;
        margin-left: 15px;
      }
      a:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

/* トップラッパー */


.top-wrapper {
  padding: 180px 0 100px;
  background-image: url(pixta_41059861_M.jpg);
  background-size: cover;
  background-repeat:  no-repeat;
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    h1 {
      opacity: 0.7;
      font-size: 45px;
      letter-spacing: 5px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      opacity: 0.7;
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    }
    .btn-wrapper {
      margin: 20px 0;
      .index {
        background-color: cadetblue;
        color: white;
        padding: 8px 20px;
        border-radius: 4px;
      }
      .index:hover {
        opacity: 0.7;
      }
      .user {
        background-color: darkorange;
        color: white;
        padding: 8px 20px;
        margin-left: 15px;
        border-radius: 4px;
      }
      .user:hover {
        opacity: 0.7;
      }
    }
  }
}

/* ジャンルラッパー */

.genre-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  .heading {
    padding: 60px 0 30px;
    color: #5f5d60;
    h2 {
      font-weight: normal;
    }
  }
  .genre {
    .game {
      float: left;
      width: 25%;
      .game-icon1 {
        background-image: url(MHW.jpg);
        height: 200px;
        background-size: cover;
        background-repeat:  no-repeat;
      }
      .game-icon2 {
        background-image: url(4733.jpg);
        height: 200px;
        background-size: cover;
        background-repeat:  no-repeat;
      }
      .game-icon3 {
        background-image: url(1_3qfvh3oerw01p4o77f0t4.jpg);
        height: 200px;
        background-size: cover;
        background-repeat:  no-repeat;
      }
      .game-icon4 {
        background-image: url(top.jpg);
        height: 200px;
        background-size: cover;
        background-repeat:  no-repeat;
      }
    }
  }
}

/* メッセージラッパー */

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  margin-top: 10px;
  text-align: center;
  .heading {
    margin-bottom: 24px;
    h2 {
      font-size: 22px;
      margin-bottom: 4px;
    }
  }
  .message {
    background-color: #5dca88;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
    a {
      color: white;
    }
  }
  .message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
  }
}

/* FAQ */

.faq {
  background: #5396db;
  .container {
    padding: 0 0 60px;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    .content-title {
      padding: 50px 0 0;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.1;
      text-align: center;
    }
    .content-title-sub {
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }
    .faq__dropdown-container {
      width: 800px;
      margin: 36px auto 0;
    .faq__dropdown-menu {
      margin: 0 0 8px;
      background: #fff;
      .faq__dropdown-arrow-down {
        border-width: 8px 4px 0 4px;
        border-color: #5396db transparent transparent transparent;
        .faq__title {
          padding-left: 8px;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: #003f6f;
        }
      }
      .faq__dropdown-arrow-down:after {
        border-width: 8px 4px 0 4px;
        border-color: #5396db transparent transparent transparent;
      }
      .faq__dropdown-content {
        padding: 0 34px 20px;
      }
    }
    }
  }
}

/* フッター */

footer {
  padding-top: 30px;
  .container {
    p {
      color: #b3aeb5;
      font-size: 12px;
      text-align: center;
    }
  }
}