// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents_row {
  height: auto;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  .all-users {
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: lightgrey;
  }
  .icon_image {
    width: 200px;
    height: 200px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
  }
} 

.user-info {
  // float: left;
}
